# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\新代码\JSTL-EL-AJAX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
