<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true"
>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/mybatis</param-value>
    </context-param>
            <servlet>
            <servlet-name>helloServlet</servlet-name>
            <servlet-class>com.it.HelloServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>helloServlet</servlet-name>
                <url-pattern>/hello</url-pattern>
            </servlet-mapping>
    <servlet>
        <servlet-name>getservlet</servlet-name>
        <servlet-class>com.it.GetHello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getservlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>com.it.ServletDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>demo1</servlet-name>
        <servlet-class>com.it.ServletDemo01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo1</servlet-name>
        <url-pattern>/demo1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>demo5</servlet-name>
        <servlet-class>com.it.ServletDemo05</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo5</servlet-name>
        <url-pattern>/demo5</url-pattern>
    </servlet-mapping>
</web-app>